.banners{
    
}

.banner{
    position: relative;
    text-align: center;
    margin-bottom: 25px;
    img{
        border-radius: $box-border-radius;
    }
    &__text{
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 14px 17px 14px 19px;
        
    }
    
    &__btn{
        position: absolute;
        right: 21px;
        bottom: 28px;
        font-size: 18px;
        line-height: 24px;
        padding: 8px 23px 12px 22px;
        letter-spacing: 0;
        border-radius: 30px; 
    }
    
    &__header{
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 16px;
        font-weight: bold;
        
    }
    
    &__description{
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        word-spacing: .02em;
    }
    
}
