.banners{

}

.banner{
    position: relative;
    text-align: center;
    margin: 0 0 31px 0;
    
    border-radius: $box-border-radius;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
        margin:0 0 30px 0;
    }

    &__text{
        text-align: left;
        padding: 14px 17px 14px 19px;
    }
    &__buttons{
        margin-top: 45px;
        padding-right: 3px;
        margin-bottom: 11px;
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            margin-top: 23px;
        }
    }
    &__btn{
        text-align: right;
        margin-bottom: 0px;
        font-size: 18px;
        line-height: 24px;
        padding: 8px 23px 12px 22px;
        letter-spacing: 0;
        border-radius: 30px; 
    }

    &__header{
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 16px;
        font-weight: bold;

    }

    &__description{
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        word-spacing: .02em;
        @media screen and (max-width: $grid-max-width-sm){
            display: none;
        }
    }

    &--jam{
        background-image: url(../images/banner-1.jpg);
    }

    &--chocolate{
        background-image: url(../images/banner-2.jpg);
    }

}

@media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
    /*    .banners.container{
             padding: 0 10px;
        }*/
    /*    .banners>*,
        .banners>*>*{
            padding: 0 10px;
        }  */
}