@import "_price_interval.scss";
@import "_slider.scss";
@import "_banners.scss";
@import "_good.scss";
@import "_seo.scss";
@import "_other.scss";
@import "_map.scss";
@import "_nice-select.scss";
@import "_filter.scss";

h1{
    margin-top: 0;
    font-size: 35px;
    /*line-height: 41px;*/
    /*word-spacing: 0;*/
    letter-spacing: .005em;
}
