/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.04.2018, 20:51:56
    Author     : Andrey
*/

.filter{
    padding-top: 14px;
}


.sort{
    /*padding-top: 14px;*/
    margin-bottom:15px;
    p{
        padding: 0 17px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 7px
    }
    input{
        display: none;
    }
}

.cost{
    @extend .sort;
    p{
        margin-bottom: 5px;
        span{

        }
        .cost__minimum{
            margin-right: 3px;
        }
        .cost__maximum{
            margin-right: 3px;
        }
    }
    input[type="number"]{
        display: none;
    }

    .wraper{
        border-radius: 24px;
        background-color: rgba(255,255,255,.2);
        padding: 16px 20px;
    }
}
.dush{
    padding:0 7px 0 5px;
    &:before{
        content:"\203E";
        display: inline-block;
        vertical-align: middle;

    }
}

.fatiness{

    @extend .sort;
    padding-right:9px;
    p{
        margin-bottom: 7px; 
    }
    @extend %radiobox;

    .wraper{
        margin-left: 15px;
        margin-right: 13px;
    }

}

.type{
    @extend .fatiness;

    @extend %checkbox;
    .wraper{
        margin-right: 3px;   
        padding-right: 15px;
    }

} 

.filter__submit{
    padding-top: 23px;
    
}

.filter__btn{
    margin-left: 2px;
    @extend %button_white;

}