$good-margin: 54px;
$hit-margin: 43px;

.goods-wraper{
    padding-bottom: $good-margin;
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            padding-bottom:  ($good-margin - 5);
        }
}

.main-page{
    .goods-wraper{
        padding-bottom: 0;
    }
}

.good{
    &{
        margin-bottom: -$good-margin;
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            margin-bottom: -($good-margin)+1;
        }


    }


    &--hit{
        margin-bottom:-$hit-margin;
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            margin-bottom:-($hit-margin)+1;
        }
    }



    &__wraper{
        display: block;
        position: relative;
        text-align:center;
        border-radius:5px;
        padding:10px $grid-padding;
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            padding:8px ($grid-padding - 5 );
        }



    }
    &__img-wrapper{
        position: relative;

        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            margin:0 2px;
        }


        img{
            border-radius: 50%;
            margin-bottom: 7px;
        }

    }

    &--hit  &__img-wrapper{
        &::before{
            $size:61px;
            border-radius: 50%;

            content: "";
            display: inline-block;
            position: absolute;
            background-image: url(../images/hit.png);
            top:0;
            width: $size;
            height: $size;
            background-repeat: no-repeat;
        }
    }

    &__price{
        position: absolute;
        top:54.5%;
        font-size: 47px;
        text-shadow: 0px 1px 3px rgba(0,0,0,.5);
        letter-spacing: -1px;
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            top: 154px;
        }

        @media screen and (max-width:$grid-max-width-md){
            left: 30%;
        }


    }

    &__title{

        font-size: 16px;
        line-height: 22px;
        text-decoration: underline;
        text-decoration-color: rgba(255,255,255,.2);
        margin-bottom: 16px;
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            margin-left: 5px;
            margin-right: 5px;
        }

    }
    &__btn{
        display: inline-block;
        opacity: 0;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        padding: 8px 16px 12px 16px;
        letter-spacing: 0;
        word-spacing: 0;
        border-radius: 19px;
        margin-bottom: 12px;

    }


    &:hover &__title,
        &:hover &__price{
        color:white;
    }
    &:hover &__btn{
        opacity: 1;
    }



    &:hover &__wraper{
        background-color: rgba(255,255,255,.2);
        box-shadow: 0 20px 20px rgba(0,0,0,0.4);
        color:white;


        z-index: 100;

    }
}
.rub{
    font-size: 32px;
    &::before{

        content:"";
        display: inline-block;
        margin-left: 3px;
        width: 31px;
        height: 36px;
        background-image: url(../images/r.svg);
        margin-bottom: -3px;



    }
}


/*.main-page{
    .hit__price{
        top: 66.5%;
    }
}*/