

.hits {

    
}
/**
В шаблоне главной  одини отступы кнопок  , а во втором шаблоне уже другие  

**/
.hit{
    padding-bottom: 10px;
    padding-top:10px;
    border-radius:5px;
    margin-bottom:13px;

    &__wraper{
        display: block;
        position: relative;
        text-align:center;

        &::before{
            $size:61px;
            border-radius: 50%;
            content: "";
            display: inline-block;
            position: absolute;
            background-image: url(../images/hit.png);
            left:0;
            top:0;
            width: $size;
            height: $size;
            background-repeat: no-repeat;
        }
        img{
            border-radius: 50%;
            margin-bottom: 7px;
        }
        
    }

    &__price{
        position: absolute;
        top:54.5%;
        font-size: 47px;
        text-shadow: 0px 1px 3px rgba(0,0,0,.5);
        letter-spacing: -1px;
        

    }

    &__title{

        font-size: 16px;
        line-height: 22px;
        text-decoration: underline;
        text-decoration-color: rgba(255,255,255,.2);
        margin-bottom: 16px;

    }
    &__btn{
        display: inline-block;
        opacity: 0;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        padding: 8px 16px 12px 16px;
        letter-spacing: 0;
        word-spacing: 0;
        border-radius: 19px;
        margin-bottom: 12px;

    }

    
    &:hover &__title,
    &:hover &__price{
        color:white;
    }
    &:hover &__btn{
        opacity: 1;
    }


    &:hover{
        background-color: rgba(255,255,255,.2);
        box-shadow: 0 20px 20px rgba(0,0,0,0.4);
        color:white;
        
    }
}
.rub{
    font-size: 32px;
    &::before{
        
        content:"";
        display: inline-block;
        margin-left: 3px;
        width: 31px;
        height: 36px;
        background-image: url(../images/r.svg);
        margin-bottom: -3px;
        
        
        
    }
}

.main-page{
    .hit__price{
        top: 66.5%;
    }
}