/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.03.2018, 1:59:17
    Author     : Andrey
*/

%seo-image{
    $size: 55px;
    display: inline-block;
    width: $size;
    height: $size;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left top;
    margin-right: 7px;
    margin-left: 1px;
    line-height: 0;
    @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
        margin-top: 1px;
    }

}

.seo{
    border-radius: $box-border-radius;
    background-image: url(../images/waferr.jpg);
    color: $color-text-grey;
    padding: 24px 20px 14px;
    margin-bottom: 40px;
    @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
        padding: 25px 18px 15px 22px;
    }
    
    
    

    &__title{
        display: inline-block;
        margin-bottom: 11px;
        /*width: 90%;*/
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            margin-bottom: 9px;
            margin-left: -4px;
        }

    }
    &__item{
        display: flex;
        justify-content: space-around;
        padding-bottom: 10px;
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            padding-left: ($grid-padding - 4px);
            padding-right: ($grid-padding - 4px);
            padding-bottom: 11px;
        }
        
        p{
            padding-top: 12px;
        }
        
        
    }

    &__ice-cream{
        @extend %seo-image;
        background-image: url(../images/icecream.svg);
    }
    &__cow{
        @extend %seo-image;
        background-image: url(../images/cow.svg);
    }
    &__leaf{
        @extend %seo-image;
        background-image: url(../images/leaf.svg);
    }

    &__termometer{
        @extend %seo-image;
        background-image: url(../images/termometer.svg);


    }
    &__description{
        margin-bottom: 0;
    }
}