$slider-bottom-underspice: 206px;
.slider{
  

    &__buttons{
        text-align: center;
        font-size: 34px;
        @media screen and (max-width:$grid-max-width-sm){
            font-size: 20px;
        }
    }
    &__text{
        position: absolute;
        /*        bottom: ($slider-bottom-underspice+40);*/
        top: 391px;
        width: 100%;
        @media screen and (max-width:$grid-max-width-md ){
            top:auto;
            bottom: 80px;
        }
    }
    &__image{
        margin: 0 auto;
        object-fit: cover;
    }
    &__item{
        text-align: center;
    }
    &__title{
        font-size: 60px;
        font-weight: bold;
        line-height: 60px;
        max-width: 700px;
        margin: auto;
        margin-bottom: 32px;
        @media screen and (max-width:$grid-max-width-md ){
            font-size:30px;
            line-height: 30px;
        }
        @media screen and (max-width:$grid-max-width-sm){
            display: none;
        }

    }
    @media #{$breakpoint-md}{

        min-height: 887px;
        margin-bottom: 20px;
        &  ~ .banners {
            position: absolute;
            top: 648px;
        }
    }

}

.slick-dots{
    position: absolute;
    /*    bottom: ($slider-bottom-underspice+63);*/
    top: 564px;
    margin-left: 14px;
    list-style: none;
    line-height:0;
    @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
        margin-left: 7px;
        top: 563px;
    }
    @media screen and (max-width:$grid-max-width-md ){
            top:auto;
            bottom:40px;
    }
    li{
        display: inline-block;
        margin-right: 8px;
        line-height:0;
        button{
            $size:  21px;
            display: inline-block;
            border-radius: 50%;
            border:2px solid white;
            content: "";
            width: $size;
            height: $size;
            background-color: inherit;
            font-size: 0;
            &:hover{
                background-color: rgba(255,255,255,.4);
            }
        }
    }
    .slick-active{
        button{
            background: #fff;
        }
    }
}
