$slider-bottom-underspice: 206px;
.slider{
   position: relative;

    &__buttons{
        text-align: center;
        font-size: 34px;
        @media screen and (max-width:$grid-max-width-sm){
            font-size: 20px;
        }
    }
    &__text{
        position: absolute;
        top: 391px;
        width: 100%;
        @media screen and (max-width:$grid-max-width-md ){
            top:auto;
            bottom: 80px;
        }
    }
    &__image{
        margin: 0 auto;
        object-fit: cover;
    }
    &__item{
        text-align: center;
    }
    $background-offset-top:65px;
    &__wraper{
        position: relative;
        display: inline-block;
        padding: (150px - $background-offset-top) 150px (150px + $background-offset-top);
        background-image: radial-gradient(rgba(255,255,255,.5) 5%, rgba(255,255,255,0) 70%);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% (- $background-offset-top);
        background-size: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
             margin-bottom: 57px;
        }
    }
    
    
    &__title{
        font-size: 60px;
        font-weight: bold;
        line-height: 60px;
        max-width: 700px;
        margin: auto;
        margin-bottom: 32px;
        @media screen and (max-width:$grid-max-width-md ){
            font-size:30px;
            line-height: 30px;
        }
        @media screen and (max-width:$grid-max-width-sm){
            display: none;
        }

    }
    @media #{$breakpoint-md}{

        min-height: 906px;
        &  ~ .banners {
            position: absolute;
            left:0;
            right: 0;
            bottom: 0;
        }
    }

}

.slick-dots{
    position: absolute;
    top: 564px;
    margin-left: 14px;
    list-style: none;
    line-height:0;
    @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
        margin-left: 13px;
        top: 563px;
    }
    @media screen and (max-width:$grid-max-width-md ){
            top:auto;
            bottom:40px;
    }
    li{
        display: inline-block;
        margin-right: 8px;
        line-height:0;
        button{
            $size:  21px;
            display: inline-block;
            border-radius: 50%;
            border:2px solid white;
            content: "";
            width: $size;
            height: $size;
            background-color: inherit;
            font-size: 0;
            &:hover{
                background-color: rgba(255,255,255,.4);
            }
        }
    }
    .slick-active{
        button{
            background: #fff;
        }
    }
}
