.slider{
    top: -43px;
    margin-bottom:-61px;
    &__buttons{
        text-align: center;
        font-size: 34px;
    }
    &__text{
        position: absolute;
        bottom: 58px;
        width: 100%;
    }
    &__image{
        margin: 0 auto;
    }
    &__item{
        text-align: center;
    }
    &__title{
        font-size: 60px;
        font-weight: bold;
        line-height: 60px;
        max-width: 700px;
        margin: auto;
        margin-bottom: 32px;
    }
}

.slick-dots{
    position: absolute;
    bottom: 81px;
    margin-left: 14px;
    list-style: none;
    li{
        display: inline-block;
        margin-right: 8px;
        button{
            $size:  21px;
            display: inline-block;
            border-radius: 50%;
            border:2px solid white;
            content: "";
            width: $size;
            height: $size;
            background-color: inherit;
            font-size: 0;
            &:hover{
                background-color: rgba(255,255,255,.4);
            }
        }
    }
    .slick-active{
        button{
           background: #fff;
        }
    }

}

