a{
    text-decoration: none;
    color:white;
    &:active,
    &:hover{
        color:#ffbc9e;
    }
}
a.reverse{
    color: $color-text-grey;
    &:active,
    &:hover{
        color:#e84d37;
    }
}

.c-btn{

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
    .ico{
        line-height: 0;
        fill: white;
    }
    &:hover{
        background-color: #fff;
        .ico{

            fill:#000;
        }
        .text{
            color: #000;
        }
    }  
}
.c-btn--with-text{
    @extend .c-btn;
    padding: 0 17px ;
    justify-content: left;
    .ico{
        margin-right: 7px;
    }
    .text{
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
    }
}


.btn{
    $text-shadow: 0.06em;
    $box-shadow: .056em;
    
    border: none;
    display: inline-block;
    padding: .19em 1.18em .36em;
    border-radius: 1em;
    box-shadow:  0 $box-shadow $box-shadow #ac1000;
    margin-bottom: $box-shadow;
    font-size: 100%;
    letter-spacing: -0.032em;
    word-spacing: .035em;
    font-weight: bold;
    line-height: 1.3;
    background: rgb(242,104,67) linear-gradient(to top,rgb(231,74,53),rgb(242,104,67));
    color:white;
    text-shadow: 0 $text-shadow ($text-shadow*2.5) #a0200b ;
    text-decoration: none;
    
    &:hover{
        background: rgb(255,255,255) linear-gradient(to top,rgba(231,74,53,.8),rgba(242,104,67,.8));
        color:white;
    }
    
    &:active{
        background: rgb(255,96,62) linear-gradient(to top,rgb(255,96,62),rgb(216,71,50));
        box-shadow: inset 0 $box-shadow $box-shadow #ac1000;
    }
}
