.footer{

}
.social-links{
    margin: 36px 0;
    @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
        padding: 0 4px;
    }
    @media screen and (max-width: $grid-max-width-md){
        text-align:center;
        margin: 20px 0;
    }

    a{
        $size: 37px;
        display: inline-block;
        width: $size;
        height: $size;
        box-sizing: border-box;
        border-radius: 50%;
        border:2px solid rgba(255,255,255,.8);
        /*background-color: #e6ebe9;*/
        background-repeat: no-repeat;
        background-size: cover;
        margin:0 7px 0 2px;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
        &:active{
            opacity: 0.8;
            border-color: rgba(0,0,0,.0);
        }

    }

    &__tw{
        background-image: url(../images/tw.svg);
    }
    &__in{
        background-image: url(../images/in.svg);
    }
    &__fb{
        background-image: url(../images/fb.svg);
    }
    &__vk{
        background-image: url(../images/vk.svg);
    }


}

.about-links{
    margin: 30px 0;

    @media screen and (max-width: $grid-max-width-md){
        text-align: center;
         margin: 20px 0;
    }

    ul{
        list-style: none;
        
        margin-left: 9px;
        @media screen and (min-width: $grid-max-width-md){
            float: left;
        }
        @media screen and (max-width: $grid-max-width-md){
            display: inline-block;
        }
    }
    li{
        width: auto;
        padding-left:22px;
        a{
            font-size: 13px;
            line-height: 18px;
            text-decoration: underline;
            text-decoration-color: rgba(255, 255, 255, 0.2);
        }
    }
    .active{
        &{
            background-image: url(../images/heart.svg);
            background-repeat: no-repeat;
            background-position: 0px 7px;
            @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
                background-position: 0px 6px;
            }
        }
        a{
            font-weight: bold;
        }
    }

    ul:first-child{
        @media screen and (min-width:$grid-max-width-lg){
            margin-left: 23px;
        }
        @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
            margin-left: 10px;
        }
    }
}

.copyright{
    padding: 18px  0 0 4px ;
    font-size: 12px;
    line-height: 18px;
    @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
        padding-left: 10px;
        margin-right: -$grid-padding;
    }
    @media screen and (max-width: $grid-max-width-md){
        text-align: center;
    }

    img{
        width: 112px;
    }
}