*, *:after, *:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
}   

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.container{
    @extend %clearfix;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
}

.row {
    @extend %clearfix;
    margin-left: -$grid-padding;
    margin-right: -$grid-padding;
}

.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}

[class*='col-'] {
    float: left;
    padding: 0 ;
    width: 100%;
    min-height: 1px; 
}   
[class*='col-']:not(.not-padding){
    padding-left: $grid-padding;
    padding-right: $grid-padding;
}


.container {      
    width: 100%;
    margin: 0 auto;
    max-width: $grid-max-width;     
}


@for $i from 1 through $grid-columns {      
    .col-sm-#{$i} {         
        width: 100% / $grid-columns * $i;   
    }           
}  


@media #{$breakpoint-md} {
    
    .container {      
       
        max-width: $grid-max-width-md;     
    }

    @for $i from 1 through $grid-columns {      
        .col-md-#{$i} {         
            width: 100% / $grid-columns * $i;   
        }           
    }   

}

@media #{$breakpoint-lg} {
    .container {      
       
        max-width: $grid-max-width-lg;     
    }
    @for $i from 1 through $grid-columns {      
        .col-lg-#{$i} {         
            width: 100% / $grid-columns * $i;   
        }           
    }   
}
.hidden{
    display: none;
}

