
.header{
    padding-top: 10px;
    padding-bottom: 8px;
    position: relative;
    z-index: 1;
    
    

    .logo{
        line-height: 0;
        fill:white;
        a{
            display: inline-block;
            
        }
        &:hover{
            opacity: 0.8;
        }
        @media screen and (max-width: $grid-max-width-lg){
            margin-left:-6px;
        }
    }

    .user-block{
        
        @media screen and (min-width:$grid-max-width-lg){
            padding-right: 12px;
        }
        @media screen and (min-width:$grid-max-width-md) and (max-width:$grid-max-width-lg){
            padding-right: 0px;
        }
        @media screen and (max-width:$grid-max-width-md ){
            display:none;
        }
        

        @extend %clearfix;
        &>*{
            margin: 12px 5px;
            float:right;
        }
        &>.cart{
             margin: 12px 3px 12px 3px;
             @media screen and (min-width:$grid-max-width-md) and (max-width:$grid-max-width-lg){
                 margin: 12px 14px 12px 3px;
             }
        }
        
        
    }

}

.header--main{
    @media screen and (min-width:$grid-max-width-sm){
        position: absolute;
        margin: auto;
        width: 100%;   
    }
}

.search,
.login,
.cart{
    position: relative;
    &:hover{
        .hidden{
            display: block;
        }
    }
}

.search{
    
    min-width: 32px;
    .hidden{
        position: absolute;
        top: 30px;
        right: 0px;
        z-index: 100;
        padding-top: 7px;
        color:$color-text-grey;

    }
    form{
        @extend %clearfix;
        z-index: 1000;
        width: 341px;
        padding: 0 ($grid-padding+2);
        background-color: $color-background-forms;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0 20px 20px rgba(0,0,0,0.4);
    }
    &> .text,
    &>.ico{
        cursor: pointer;
    }
}

.login{
    @extend .search;
    min-width: 94px;

    .hidden{
        right: -1px;
    }
    form{
        width: 277px;
        padding: 0 4px 21px;

        .btn{
            font-size: 18px;
            line-height: 24px;
            padding: 10px 25px;
            /*border-radius: 19px;*/

        }
        .login__another{
            a{
                display: block;
                font-size: 13px;
                line-height: 21px;
                text-decoration: underline;
            }
        }
    }

}

.cart {
    @extend .search;
    min-width: 117px;
        
    .ico__place{

        fill: rgba(0,0,0,0);

    }
    &.cart-not-empty{
        
        .ico{
            fill: #000;
        }

        .ico__place{
            fill: #E84D37;
        }
    }
    
    .cart__form{
        padding-top: 16px;
        padding-bottom: 10px;
        width: 541px;
        font-size: 13px;
        line-height: 16px;
    }
    &__item{
        @extend %clearfix;
        padding-top: 4px;
        margin-bottom: 16px;
        &>*{
            float:left;
        }
 
    }
    &__delete{
        width: 7.3%;
        min-height: 30px;
        background-image: url(../images/x.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    $image-size:33px;
    %text{
        display: inline-block;
        padding-top: 8px;
    }
    &__description{
        position: relative;
        width: 50%;
    }
    &__image{
          position: absolute;
          width: $image-size;
          height: auto;
    }
    &__text{
        @extend %text;
        padding-left: 45px;
        min-height: $image-size;
      
        vertical-align: top;
    }
    &__price--detail{
        @extend %text;
        width: 22%;
        word-spacing: .03em;
    }
    &__price--total-by-good{
        @extend %text;
        width: 20%;
    }
    
    &__total-price{
        font-size: 15px;
        line-height: 18px;
        font-weight: bold;
        padding-top:15px;
        padding-bottom:15px;
        position:relative;
        
        &::before{
            content: "";
           
            position: absolute;
            top:1px;
            left: $grid-padding;
            right: $grid-padding;
            border-top: 1px solid #cacac7;
        }
        
    }
    &__submit{
        font-size: 18px;
        line-height: 24px;
        .btn{
            
            padding: .5em .89em .67em .76em;
            border-radius: 1.15em;
            letter-spacing: -0.027em;
            word-spacing: 0.1em;
            margin-bottom: 10px;
            
        }
    }

}

.contacts {
    margin-top: -2px;
    @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
        margin-right: -7px;
    }
    
    padding-top: 0px;
    font-weight: bold;
    &__time{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
        word-spacing: 0.5px;
    }
    &__phone{
        font-size: 22px;
        line-height: 24px;
        text-decoration: none;
        color: white;
        &:hover{
            opacity: 0.8;
        }
    }

}
