
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;

    .logo{
        fill:white;
        &:hover{
            opacity: 0.8;
        }
        @media screen and (max-width: $grid-max-width-lg){
            margin-left:-6px;
        }
    }

    .user-block{
        
        @media screen and (min-width:$grid-max-width-lg){
            padding-left: 12px;
        }
        @media screen and (min-width:$grid-max-width-md){
            padding-left: 7px;
        }
        @media screen and (max-width:$grid-max-width-md ){
            display:none;
        }
        

        @extend %clearfix;
        &>*{
            margin: 12px 5px;
            float:left;
        }
    }

}

.header--main{
    @media screen and (min-width:$grid-max-width-sm){
    position: absolute;
    margin: auto;
    width: 100%;   
    }
}

.search,
.login,
.cart{
    position: relative;
    &:hover{
        .hidden{
            display: block;
        }
    }
}

.search{
    cursor: pointer;
    min-width: 32px;
    .hidden{
        position: absolute;
        top: 30px;
        right: 0px;
        z-index: 100;
        padding-top: 7px;


    }
    form{
        @extend %clearfix;
        z-index: 1000;
        width: 341px;
        padding: 0 15px;
        background-color: $color-background-forms;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0 20px 20px rgba(0,0,0,0.4);
    }
}

.login{
    @extend .search;
    min-width: 94px;

    .hidden{
        right: -1px;
    }
    form{
        width: 277px;
        padding: 0 4px 21px;

        .btn{
            font-size: 18px;
            line-height: 24px;
            padding: 10px 25px;
            /*border-radius: 19px;*/

        }
        .login__another{
            a{
                display: block;
                font-size: 13px;
                line-height: 21px;
                text-decoration: underline;
            }
        }
    }

}

.cart {
    min-width: 117px;
    
    @media screen and (max-width:$grid-max-width-lg){
        
    }
    
    .ico__place{

        fill: rgba(0,0,0,0);

    }
    &.cart-not-empty{
        cursor: pointer;
        .ico{
            fill: #000;
        }

        .ico__place{
            fill: #E84D37;
        }
    }

}

.contacts {
    
    @media screen and (max-width:$grid-max-width-lg) and (min-width:$grid-max-width-md){
        margin-right: -7px;
    }
    
    padding-top: 0px;
    font-weight: bold;
    &__time{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
        word-spacing: 0.5px;
    }
    &__phone{
        font-size: 22px;
        line-height: 24px;
        text-decoration: none;
        color: white;
        &:hover{
            opacity: 0.8;
        }
    }

}
