/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.03.2018, 19:49:54
    Author     : Andrey
*/

@mixin border-box {
    box-sizing: border-box; 
}

%clearfix {
    position: relative;
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}