
@import "_fonts.scss";


.text{
    &-bold{
        font-weight: bold;
    }
    &-normal{
        font-weight: normal;
    }
    &-light{
        font-weight: 300;
    }
    &-center{
        text-align: center;
    }
    &-left{
       text-align: left;        
    }
    &-right{
        text-align: right;
    }
}
