
@import "_fonts.scss";


.text{
    &-bold{
        font-weight: bold;
    }
    &-normal{
        font-weight: normal;
    }
    &-light{
        font-weight: 300;
    }
    &-center{
        text-align: center;
    }
    &-left{
       text-align: left;        
    }
    &-right{
        text-align: right;
    }
}

h2,.h2{
    /*margin-top: 10px;*/
    line-height: 1.2em;
    font-weight: normal;
    margin-bottom: 12px;
}

h3{
    
}

p{
    margin-bottom: 18px;
}

.light-grey{
    color:#999999;
}