
// grid variables
$grid-columns: 48;
$grid-max-width: 1200px;
$grid-max-width-lg:1198px;
$grid-max-width-md:912px;
$grid-max-width-sm:460px;

$grid-padding: 13px;

$grid-padding-md: 10px;

 
 
// breakpoints
$breakpoint-sm: "screen and (min-width: "+$grid-max-width-sm+")";
$breakpoint-md: "screen and (min-width: "+$grid-max-width-md+")";
$breakpoint-lg: "screen and (min-width: "+$grid-max-width-lg+")";



//colors
$color-background-primary: #849d8f;
$color-text-grey: #323232;

$color-background-forms: #f8f7f4;

$box-border-radius:14px;