
// grid variables
$grid-columns: 48;
$grid-max-width: 1200px;
$grid-padding: 13px;

 
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 460px)";
$breakpoint-medium: "only screen and (min-width: 900px)";


//colors
$color-background-primary: #849d8f;
$color-text-grey: #323232;

$color-background-forms: #f8f7f4;