/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.03.2018, 12:15:34
    Author     : Andrey
*/
body{
    font-size: 16px;
}

