%button_white{
    background-color: rgba(255,255,255,.2);
}

%radiobox{
    &{
        label{
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;

            &:not(:last-child){
                margin-right:14px;
            }

            &::before{
                content: "";
                display: inline-block;
                vertical-align: top;
                width: 22px;
                height: 22px;
                margin-right: 9px;
                background-image: url(../images/radio-off.svg);
                background-repeat: no-repeat;
                opacity: .8;
            }
            &:hover::before{
                opacity: 1;
            }
            &.disabled,
            &:disabled{
                &::before{
                    opacity: .4;
                }
            }


        }
        input:checked+label{
            &::before{
                background-image: url(../images/radio-on.svg);
            }
        }


        .wraper{
            display: flex;
            justify-content: space-around;
            padding: 7px 14px 7px 12px;
           
            border-radius: 24px;
            background-color: rgba(255,255,255,.2);
           
        }
    }
}

%checkbox{
     @extend %radiobox;
    &{
       
        label{
            &::before{
                width: 25px;
                height: 21px;
                background-image: url(../images/checkbox-off.svg); 
            }
        }

        input:checked+label{
            &::before{
                background-image: url(../images/checkbox-on.svg);

            }
        }
      
    }
}

